capstone_mqtt_flow
[{"id":"e8a5a696.b17b78","type":"mqtt-broker","z":"f4aecde5.a521d","broker":"192.168.8.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"6c05621d.c8d32c","type":"mqtt in","z":"f4aecde5.a521d","name":"","topic":"Gateway/topic","broker":"e8a5a696.b17b78","x":91.5,"y":67,"wires":[["46bffa8a.ed1674"]]},{"id":"d2585f55.556a4","type":"mqtt out","z":"f4aecde5.a521d","name":"MyGateway","topic":"Gateway/topic","qos":"","retain":"","broker":"e8a5a696.b17b78","x":735.4997634887695,"y":226.99994087219238,"wires":[]},{"id":"6c6305e.6f769fc","type":"comment","z":"f4aecde5.a521d","name":"MQTT Broker & Subscriber (Gateway, Kura)","info":"","x":179.5,"y":25,"wires":[]},{"id":"fd55c6cd.bbed78","type":"comment","z":"f4aecde5.a521d","name":"MQTT Publisher (Device, Sensor)","info":"","x":148.5,"y":140,"wires":[]},{"id":"688260e5.baca4","type":"function","z":"f4aecde5.a521d","name":"TempXML","func":"var newMsg = { payload: msg.payload };\nvar aName = \"Temperature\";\nvar aType = \"int\";\nvar aValue = newMsg.payload;\nvar xmlString = \"<payload><metrics><metric><name>\"+aName+\"</name>\"+\"<type>\"+aType+\"</type>\"+\"<value>\"+aValue+\"</value></metric></metrics></payload>\";\nmsg.payload = xmlString;\n\nreturn msg;","outputs":1,"noerr":0,"x":532.9999160766602,"y":225.99993133544922,"wires":[["d2585f55.556a4","46bffa8a.ed1674"]]},{"id":"46bffa8a.ed1674","type":"debug","z":"f4aecde5.a521d","name":"General Debug","active":false,"console":"false","complete":"payload","x":645.9515609741211,"y":121.01702880859375,"wires":[]},{"id":"72201ef2.d2781","type":"debug","z":"f4aecde5.a521d","name":"return","active":false,"console":"false","complete":"payload","x":519.9629859924316,"y":368.0169734954834,"wires":[]},{"id":"b9f7949d.d96a28","type":"inject","z":"f4aecde5.a521d","name":"Repeat","topic":"","payload":"true","payloadType":"str","repeat":"20","crontab":"","once":false,"x":84.96023178100586,"y":188.88065814971924,"wires":[["e4924256.9bf8f","46bffa8a.ed1674"]]},{"id":"89c9f472.c16c78","type":"debug","z":"f4aecde5.a521d","name":"stderr","active":false,"console":"false","complete":"payload","x":518.9515686035156,"y":323.2925548553467,"wires":[]},{"id":"b17a00be.593fc","type":"debug","z":"f4aecde5.a521d","name":"stdout","active":false,"console":"false","complete":"payload","x":523.9544944763184,"y":280.29540157318115,"wires":[]},{"id":"e4924256.9bf8f","type":"exec","z":"f4aecde5.a521d","command":"/usr/bin/sudo","addpay":false,"append":"/var/lib/cloud9/cee_445/Labs/Lab04/./tmp36","useSpawn":"","name":"Temp","x":319.95173263549805,"y":237.48856925964355,"wires":[["b17a00be.593fc","688260e5.baca4"],["89c9f472.c16c78"],["72201ef2.d2781"]]},{"id":"e7030c9a.c97fd","type":"exec","z":"f4aecde5.a521d","command":"/usr/bin/sudo","addpay":false,"append":"sh -c \"echo 'BB-ADC' > /sys/devices/platform/bone_capemgr/slots\"","useSpawn":"","name":"Startup","x":309.96310806274414,"y":301.3095531463623,"wires":[["b17a00be.593fc"],["89c9f472.c16c78"],["72201ef2.d2781"]]},{"id":"e5d39ebe.fe30f","type":"inject","z":"f4aecde5.a521d","name":"One-time","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":true,"x":95.95169830322266,"y":230.88342666625977,"wires":[["e7030c9a.c97fd","86fe6b9d.98c768"]]},{"id":"86fe6b9d.98c768","type":"exec","z":"f4aecde5.a521d","command":"mosquitto","addpay":false,"append":"","useSpawn":"","name":"MQTT init","x":307.95454025268555,"y":365.11927032470703,"wires":[["b17a00be.593fc"],["89c9f472.c16c78"],["72201ef2.d2781"]]}]
